nav{
    padding: 25.5px 42px;
}

.navbar-brand{
    font-size: 20px;
    line-height: 30px;
    font-family: "Epilogue";
    font-weight: 600;
    color: #2D2D2D;
}

.navbar-nav{
    font-family: "Epilogue";
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: #2D2D2D;
    gap: 24px;
}


.logo-bar{
    padding: 42px 68px;
    margin: 0px auto;
}

.skills-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 42px auto;
    text-align: center;
    max-width: 1230px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 64px 42px;
    max-width: 394px;
    border: none;

}

.card-img{
    margin-bottom: 42px;
    width: 124px;
    height: 124px;
}

.card-content{
    max-width: 310px;
    font-family: "Epilogue";
}

.card-content h3{
    font-weight: 600;
    font-size: 27px;
    line-height: 48px;
}

.card-content p{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
}

.card-text h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    font-family: "Epilogue";
    padding-top: 24px;
}

.card-text p{
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    font-family: "Epilogue";
}